*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root, a, input, button, ::placeholder{
    font-family: "Poppins", system-ui;
    font-size: 62.5%;

    --color-base-gray-white: hwb(0 100% 0%);
    --color-base-gray-100: hsl(0, 0%, 96%);

    --color-base-black: hsl(0, 0%, 0%);
    --color-base-black-200: hwb(0 15% 96% );

    --color-logo: #04dcfc;


    --font-small-p: 0.75rem;
    --font-mid-p: 1.5rem;
    --font-big-p: 1.5rem;

    --font-small-h1: ;
    --font-mid-h1: ;
    --font-big-h1: ;
}


body{
    max-width: 100vw;
    max-height: 100vh;
    
    display: flex;
    flex-direction: column;

    background: var(--color-base-black-200);
}


/*HEADER*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    background-color: var(--color-base-black);
    
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    padding: .2rem 10rem;

    animation: move 1s;
}

header a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-base-gray-white);
}

header a:hover{
    color: rgba(255, 255, 255, 0.514);
    transition: .6s ease-in-out;
}

header input{
    width: 40rem;
    height: 5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--color-base-black-200);
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--color-base-gray-white);
}

header ::placeholder{
    font-weight: 300;
    font-size: 1.6rem;
}


/*MAIN*/

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding: 4rem 10rem;
    background-color: var(--color-base-black-200);
    gap: 4rem;
    height: 100%;
    max-height: 160rem;
    z-index: 0;

    
}

main img{
    width: 100%;
    max-width: 70rem;
    animation: appear .5s;
}

main img:hover{
    transition: 5s;
    transform: rotate(360deg);
}

main .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 55rem;
    padding: 5rem;
}

main .content h1{
    color: var(--color-base-gray-white);
    font-size: 6rem;
    margin-bottom: 5rem;
}

main .content span{
    color: var(--color-logo);
    font-weight: 700;
}

main .content p{
    color: var(--color-base-gray-white);
    font-size: 1.5rem;
}

main .content button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-logo);
    background: white;
    border:none;
    border-radius: 1rem;
}

main .content button:hover{
    background: var(--color-logo);
    color: white;
    transform: scale(1.04);
    transition: .6s ease-in-out;
    cursor: pointer;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    font-weight: 500;
    background-color: var(--color-base-black);
    color: var(--color-base-gray-100);
}


/*media*/
@media screen and (max-width: 1024px) {
    header{
        color: red;
        padding: .2rem 1rem;
    }


}

@media screen and (max-width: 770px) {
    header{


        color: green;
        padding: .2rem 1rem;
    }


}






@keyframes move{
    from{
        transform: translateY(-100%);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }

    50%{
        transform: scale(1.01);
    }
}


